.chatBox {
  border: 2px solid gray;
  height: 100%;
  color: #fff;
  padding: 2rem;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.chatItem {
  max-width: 70rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  width: auto;
  align-self: flex-start;
  position: relative;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}

.sent {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  color: gray;
}

.read {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  color: blue;
}

.sender {
  background-color: purple;
  align-self: flex-end;
}

.receiver {
  background-color: #495057;
  align-self: flex-start;
}

.time {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 1rem;
}

.chat-message {
  font-size: 1.2rem;
}

.action {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.action textarea {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  border: 2px solid purple;
  border-radius: 8px;
  color: #fff;
  outline: none;
  font-size: 1.4rem;
  padding: 1rem;
}

.icon {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.typing {
  margin-bottom: 2rem;
  width: 6rem;
  height: 6rem;
}
